@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";

.heroSection {
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include position(relative, null, null, null, null);

  .homeTitle {
    @include gridRowCol(1, #{"1/9"});
    margin-bottom: 1.5rem;
    height: 8rem;
    @include textStyling($title-font, normal, 600, 3rem, 57.6px, $white, 0.5px);
    @include tablet {
      margin-bottom: 0.5rem;
      @include textStyling($title-font, normal, 600, 2.5rem, 120%, $white, 0.5px);
      @include gridRowCol(1, #{"1/8"});
    }
    @include mobile() {
      height: 11.5rem;
      @include gridRowCol(1, #{"1/4"});
      @include textStyling($title-font, normal, 700, 2rem, 120%, $white, 0.5px);
    }
  }

  .title {
    @include gridRowCol(1, #{"1/9"});
    margin-bottom: 1.5rem;
    @include textStyling($title-font, normal, 600, 3rem, 57.6px, $white, 0.5px);
    @include tablet {
      margin-bottom: 0.5rem;
      @include textStyling($title-font, normal, 600, 2.5rem, 120%, $white, 0.5px);
      @include gridRowCol(1, #{"1/8"});
    }
    @include mobile() {
      @include gridRowCol(1, #{"1/4"});
      @include textStyling($title-font, normal, 700, 2rem, 120%, $white, 0.5px);
    }
  }

  .description {
    @include gridRowCol(2, #{"1/9"});
    @include textStyling($text-font, normal, 400, 1.25rem, 1.875rem, $white, 0.5px);
    @include tablet {
      @include gridRowCol(2, #{"1/8"});
    }
    @include mobile() {
      @include gridRowCol(2, #{"1/5"});
      @include textStyling($text-font, normal, 400, 1rem, 150%, $white, 0.25px);
    }
  }

  .buttonsContainer {
    @include gridRowCol(3, #{"1/4"});
    @include flexProps(flex, null, null, row, 1rem);
    padding-top: 3rem;
  }
}
.bottomArrayContainer {
  @include gridRowCol(null, #{"1/5"});
  @include flexProps(flex, center, null, row);
  padding-top: 3rem;
  &-image {
    margin-right: 1rem;
  }
  @include tablet() {
    grid-column: 1/9;
  }
  @include mobile() {
    grid-column: 1/5;
  }

  .heroArrayText {
    @include textStyling($text-font, normal, 400, 1.25rem, 150%, $white, 0.5px);
    opacity: 0.8;

    @include mobile() {
      @include textStyling($text-font, normal, 400, 1rem, 150%, $grey-100, 0.25px);
      opacity: 1;
    }
  }
}
.contactUsButton {
  height: 3.5rem;
  @include flexProps(flex, center, center, null, 0.4375rem);
  @include textStyling($text-font, normal, 700, 0.875rem, 145%, $white, 0.00438rem);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 4px 0px $dark-blue-200;

  @include tablet() {
    height: 3rem;
    padding: 0.75rem 1.1875rem 0.75rem 1.25rem;
    gap: 0.5rem;
  }

  .btnText {
    @include flexProps(flex, center);
    visibility: visible;
    opacity: 1;
    transition: visibility 0s $animation-duraction-btn, opacity $animation-duraction-btn ease-in-out;
  }

  .iconContainer {
    @include flexProps(flex, center);
    transition: all $animation-duraction-btn linear;
    svg {
      transition: all $animation-duraction-btn linear;
      transform: rotate(0deg);
    }
  }

  &:hover {
    @include desktop() {
      .btnText {
        visibility: hidden;
        opacity: 0;
      }

      .iconContainer {
        transform: translateX(2.2rem);
        .paperplaneSvg {
          transform: rotate(45deg);
        }
      }
    }
  }
}

.joinUsButton {
  width: 6.25rem;
  height: 3rem;
}
