@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";

.cardContainer {
  border-radius: 0.5rem;
  border-bottom: 0.25rem solid $red-200;
  background: linear-gradient(180deg, rgba(255, 160, 107, 0.19) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  min-width: 17.75rem;
  grid-column: span 3;
  @include tablet() {
    min-width: 15.6875rem;
  }
  @include mobile() {
    min-width: 15.125rem;
  }
  .bgImage {
    width: 100%;
  }
  .content {
    padding: 0 1.5rem 1.5rem 1.5rem;
    .amount {
      @include textStyling($title-font, normal, 400, 64px, 120%, $navy-blue, 0.5px);
    }

    .title {
      @include textStyling($title-font, normal, 600, 24px, 120%, $navy-blue, 0.5px);
    }

    .subHeading {
      @include textStyling($text-font, normal, 400, 16px, 150%, $text-color, 0.25px);
      padding: 1rem 0 2rem 0;
    }
  }
}
