@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";

.wrapper {
  padding: 7rem 0;
  @include tablet() {
    padding: 4.5rem 0;
  }
  @include mobile() {
    padding: 4rem 0;
  }
  .container {
    grid-column: span 12;

    .formContentLayout {
      @include flexProps(flex, flex-start, flex-start, column, 0.5rem);
      padding-bottom: 3rem;

      .title {
        @include textStyling($title-font, normal, 300, 64px, 120%, $text-color, 0.5px);
        @include tablet() {
          @include textStyling($title-font, normal, 300, 48px, 120%, $text-color, 0.5px);
        }
        @include mobile() {
          @include textStyling($title-font, normal, 300, 48px, 120%, $text-color, 0.5px);
        }
      }
      .description {
        @include textStyling($text-font, normal, 400, 16px, 150%, $grey-500, 0.25px);
        @include tablet() {
          @include textStyling($text-font, normal, 400, 14px, 150%, $grey-500, 0.25px);
        }
        @include mobile() {
          @include textStyling($text-font, normal, 400, 14px, 150%, $grey-500, 0.25px);
        }
      }
    }

    .formContainer {
      grid-row: 3;
      padding-top: 0 !important;
      padding-bottom: 0 !important;

      @include tablet() {
        padding: 48px 0 0 0;
        width: 100%;
      }

      @include mobile() {
        width: 100%;
      }

      .dataBox {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        grid-column: 1/9;
        row-gap: 1.5rem;
        column-gap: 1rem;
        @include tablet() {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
          grid-column: 1/9;
          column-gap: 1rem;
        }
        @include mobile() {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          width: 100%;
          grid-column: 1/5;
          column-gap: 1rem;
          gap: 1rem;
        }
      }

      .messageBox {
        grid-column: 9 / 13;
        grid-row: span 2;
        resize: none;
        @include tablet() {
          padding-top: 1rem;
          grid-row: 2;
          grid-column: 1/9;
          width: 100%;
        }
        @include mobile() {
          grid-column: 1/5;
        }

        .messageInput {
          height: 10.3125rem;
          width: 100%;
          resize: none;
          outline: none;
          border: 0;
          padding: 1rem;
          @include textStyling($text-font, normal, 400, 16px, 150%, #0e0e0e, 0.5px);
        }
      }
      @include tablet() {
        grid-row: 2;
        grid-column: 1/9;
        width: 100%;
      }

      .btnContainer {
        padding-top: 2.5rem;
        grid-column: 1/-1;
        @include flexProps(flex, center, flex-end, row, 1.5rem);

        @include tablet() {
          display: flex;
        }
        @include mobile() {
          display: grid;
          justify-content: stretch;
        }

        .recaptchaContainer {
          @include widthHeight(10.12rem, 3rem);
          @include tablet() {
            @include flexProps(flex, null, flex-end, null, null);
            align-self: flex-start;
          }
          @include mobile() {
            @include flexProps(flex, null, center, null, null);
            align-self: center;
            width: 100%;
          }
        }

        .btn {
          padding: 0.875rem 1rem;
          &:disabled {
            @include buttonAppearance($grey-82, $grey-600);
          }
          @include tablet() {
            margin-top: 0;
          }
          @include mobile() {
            width: 100%;
          }
        }
      }
    }
  }
}

.colSpan1 {
  grid-column: span 4;
}

.colSpan2 {
  grid-column: span 8;
  @include mobile() {
    grid-column: span 4;
  }
}
