@import "@/styles/mixins.scss";

.splashPage {
  height: 100vh;
  @include flexProps(flex, center, center, row, null, null);
}

.customImageContainer {
  position: unset;
  width: fit-content;
  height: fit-content;
}