@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";

.uxDesignPage {
  .heroSectionGradient {
    background: $hero-section-gradient;
  }

  .heroSectionContentContainer {
    padding-top: 11.625rem;
    padding-bottom: 7.625rem;

    @include tablet() {
      width: 100%;
      margin: 0;
      padding: 10.25rem 1.5rem;
      @include gridProps(repeat(8, 1fr), null, 1rem, null);
    }

    @include mobile() {
      padding: 8.938rem 1rem 5.438rem 1rem;
      @include gridProps(repeat(4, 1fr), null, 1rem, null);
    }
  }

  .howWeWorkSectionContainer {
    padding: 7rem 0;

    @include tablet() {
      padding: 4.5rem 1.5rem !important;
    }
    @include mobile() {
      padding: 4rem 1rem !important;
    }

    @include tablet() {
      padding: 4rem 1.5rem;
    }
  }
}
