@import "@/styles/mixins.scss";
@import "@/styles/variables.scss";

.tooltipWrapper {
  display: inline-block;
  position: relative;
}

.tooltipTip {
  @include position(absolute, null, null, null, 50%);
  @include textStyling($text-font, normal, 500, 1rem, 1, $text-color, 0.01563rem);
  transform: translateX(-50%);
  z-index: 100;
  border-radius: 0.5rem;
  background: $white;
  padding: 1rem;
  transition: visibility 0.1s, opacity 0.1s linear;

  @include tablet() {
    padding: 0.88775rem;
  }

  &::before {
    content: " ";
    @include position(absolute, null, null, null, 50%);
    @include widthHeight(0, 0);
    border: solid transparent;
    pointer-events: none;
    border-width: $tooltip-arrow-size;
    margin-left: calc($tooltip-arrow-size * -1);
  }

  &.top {
    bottom: calc(100% + $tooltip-margin);
    transform-origin: center bottom;
    &::before {
      top: 100%;
      border-top-color: $white;
    }
  }

  &.right {
    left: calc(100% + $tooltip-margin);
    top: 50%;
    transform: translateX(0) translateY(-50%);

    &::before {
      right: auto;
      left: calc($tooltip-arrow-size * -1);
      top: 50%;
      transform: translateX(0) translateY(-50%);
      border-right-color: $white;
    }
  }

  &.bottom {
    top: calc(100% + $tooltip-margin);
    transform-origin: center top;
    &::before {
      bottom: 100%;
      border-bottom-color: $white;
    }
  }

  &.left {
    left: auto;
    right: calc(100% + $tooltip-margin);
    top: 50%;
    transform: translateX(0) translateY(-50%);
    transform-origin: top right;

    &::before {
      left: auto;
      right: calc($tooltip-arrow-size * -2);
      top: 50%;
      transform: translateX(0) translateY(-50%);
      border-left-color: $white;
    }
  }
}

.showTooltip {
  visibility: visible;
  opacity: 1;
}

.hideTooltip {
  visibility: hidden;
  opacity: 0;
}
